{{ partial "head.html" }}
{{ partial "head_moti.html" }}

<p> To whom it may concern:</p>
<p>
  I line up my strengths for the above mentioned job: </p>

{{ .Content }}

Currently I am working in second level IT support for a german car manufacturing company using ITIL.

<p>I create documentations/knowledge records and attend meetings on current Windows client problems together with
  customers.
</p>

<p> I can start as soon as needed, am flexible regarding work hours and seek a remote job.</p>

<p>Sincerely</p>

{{ partial "foot.html" }}