{{ $address:="Bergstraße, Hepberg, DE | Email: timo @ tik1.net | T: +49 (0) 1573 9598 220"}}
<html>

<head>
    <link href="/favicon.png" rel="icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yellowtail" />

    <style>
        body {
            font-family: 'roboto', sans-serif;
        }

        #yellowtail {
            font-family: 'yellowtail', sans-serif;
            font-size: x-large;
        }
    </style>
</head>

<body>
    <div id="yellowtail">Timo Körner</div>
    {{ printf "%s" $address}}