{{ partial "head.html" }}

<div id="lang_switch" style="float: right;margin-right: 100px;">
    <ul class="language-list">
        {{ range $.Site.Home.AllTranslations }}

        <li style="display: inline;margin-left: 10px;"><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>

        {{ end }}

    </ul>
</div>

<h2 style="margin-top: 50px;">{{ T "overview" }}</h2>

<ul>
    <li>
        <a href="moti">{{ T "moti"}}</a>
    </li>
    <li style="margin-top: 20px;">
        <a href="cv">{{ T "cv"}}</a>
    </li>
</ul>
<div id="links" style="margin-top: 100px;">
    <a href="https://tifun.netlify.com">{{T "othersite"}}</a> |
    <a href="https://github.com/tik9/apps">Hosted with &hearts; on Github</a>
</div>
</div>
</body>

</html>