<html>
  <head>
    <link href="assets/favicon.png" rel="icon" />
  </head>

  <body>
    <div>Timo Körner</div>
    Bergstrasse 15, 85120 Hepberg, Deutschland, +49 (0) 1573 9598 220
    <div style="margin-top: 50px"></div>

    <span id="company"></span><br />
    HR
    <div id="address"></div>

    <div style="margin-top: 50px"></div>

    <span style="display: inline-block; width: 450px"></span>
    <span id="date"></span>

    <div style="margin-top: 30px"></div>

    <span style="display: inline-block; width: 450px"></span>
    <img align=center src=../assets/tk.jpg alt='alt text' width=80 />

    <div style="margin-top: 50px"></div>

    <span id="job"></span>
    <div style="margin-top: 30px"></div>

    {{ content }}

<script src="/assets/client.js"></script>    
  </body>
</html>
