<html>

<head>
  <link href="assets/favicon.png" rel="icon" />
</head>

<body>
  <div>Timo Körner</div>
  Bergstraße 15, 85120 Hepberg, Deutschland
  <div style="margin-top: 50px"></div>

  <span id="company"></span><br />
  Personalabteilung
  <div id="address"></div>
  <div id="email"></div>

  <div style="margin-top: 50px"></div>

  <span style="display: inline-block; width: 450px"></span>
  <span id="date"></span>

  <div style="margin-top: 30px"></div>

  <span style="display: inline-block; width: 450px"></span>
  <img align=center src=../assets/tk.jpg alt='alt text' width=80 />

  <div style="margin-top: 50px"></div>

  Bewerbung als <span id="job"></span>
  <div style="margin-top: 30px"></div>

  <p> Sehr geehrte Damen und Herren,</p>
  <p>
    das können Sie von mir erwarten, sollten Sie mich für die im Betreff ausgeschriebene Position in Erwägung ziehen:
  </p>

  {{ content }}

  <p>Ich bin bei der Bechtle Onsite GmbH befristet im Problemmanagement für den Kunden VW/Audi angestellt.
  </p>
  Ich suche eine Tätigkeit in Teilzeit mit 25 Wochenstunden.<p>

    Ich würde mich über eine baldige Nachricht freuen.
    &nbsp;
  </p>

  <p>Mit freundlichen Grüßen</p>

  Timo Körner

  <script src="/assets/js/env.js"></script>
  <script src="/assets/client.js"></script>
</body>

</html>