{{ partial "head.html" }}

<p> Sehr geehrte Damen und Herren,</p>
<p>
    das können Sie von mir erwarten als Bewerber für die oben genannte Tätigkeit:
</p>
<div id="content" style="margin-top: 30px">
    {{.Content}}
</div>

<p style="margin-top: 40px">Ich bin seit 2 Jahren bei einem IT Dienstleister im Problemmanagement für den Kunden VW
    beschäftigt und suche eine Tätigkeit als Programmierer.
</p>
<p style="margin-top: 30px;">Ich könnte ab 1.2.2023 für 30 Wochenstunden remote bzw. hybrid zur Verfügung stehen.</p>

<p>Mit freundlichen Grüßen</p>

{{ partial "foot.html" }}