{{ partial "head.html" }}

<p> Sehr geehrte Damen und Herren,</p>
<p>
    das können Sie von mir erwarten als Bewerber für die oben genannte Tätigkeit:
</p>
<div id="content" style="margin-top: 30px">
    {{.Content}}
</div>

<p style="margin-top: 40px">Ich bin seit 2 Jahren bei einem IT Dienstleister im Problemmanagement als IT-Techniker
    angestellt.
</p>
<p style="margin-top: 30px;">Ich stehe ab 1.1.2023 für 30 Wochenstunden in Teilzeit remote zur Verfügung.</p>

<p>Mit freundlichen Grüßen</p>

{{ partial "foot.html" }}