<div id="links_content"></div>

<script>
    // var ul = document.createElement('ul')
    var dl = document.createElement('dl')
    document.getElementById('links_content').append(dl)

    var arr = [{ 'Github': 'github.com/tik9' }, { 'Eigene site': 'tiapps.netlify.app' }, { 'LinkedIn': 'linkedin.com/in/timo1818' }]
    for (var elem of arr) {
        for (key in elem) {
            // var li = document.createElement('li')
            var dt = document.createElement('dt')
            var dd = document.createElement('dd')
            dl.append(dt, dd)
            dt.append(document.createTextNode(key))
            var aref = document.createElement('a')

            aref.textContent = elem[key]
            aref.href = 'https://' + elem[key]
            dd.append(aref)
        }
    }
</script>